{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>About</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'fashion/logo.svg' %}" width="38" height="30" class="d-inline-block align-top"
                    alt="Bootstrap" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link navbar-brand" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-brand" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <h1>About Us</h1>
        <p>Introducing our brand, a visionary in cultural clothing design. We specialize in creating captivating garments that beautifully fuse tradition and contemporary style. Each piece is meticulously crafted, offering a unique opportunity for individuals to embrace and express their cultural heritage through fashion. Our designs honor the richness of different traditions while allowing wearers to make a bold and stylish statement. Experience the beauty and vibrancy of cultural clothing with our brand.</p>
      </div>
      <div class="col-md-6">
        
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>