<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
	body {
		background: #eee;
	}

	span {
		font-size: 15px;
	}

	a {
		text-decoration: none;
		color: #0062cc;
		border-bottom: 2px solid #0062cc;
	}

	.box {
		padding: 60px 0px;
	}

	.box-part {
		background: #FFF;
		border-radius: 0;
		padding: 60px 10px;
		margin: 30px 0px;
	}

	.text {
		margin: 20px 0px;
	}

	.fa {
		color: #4183D7;
	}
</style>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="box">
	<div class="container">
		<div class="row">

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

				<div class="box-part text-center">

					
						<i class="fa fa-instagram fa-3x" aria-hidden="true" href="instagram.com"></i>
					

					<div class="title">
						<a href="https://www.instagram.com/managurgurtauffataadanaa/" style="text-decoration: none;"><h4>Instagram</h4></a>
						
					</div>



				</div>
			</div>

			

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

				<div class="box-part text-center">
					
					<i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
						
					<div class="title">
						<a href="https://www.facebook.com/profile.php?id=100064229434334" style="text-decoration: none;"><h4>Facebook</h4></a>
					</div>



				</div>
			</div>

			

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

				<div class="box-part text-center">

					<i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>

					<div class="title">
						<a href="mailto: AdaneGeremew6@gmail.com" style="text-decoration: none;"><h4>Email</h4></a>
					</div>



				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

				<div class="box-part text-center">

					<i class="fa fa-phone fa-3x aria-hidden="true"></i>

					<div class="title">
						<a href="" style="text-decoration: none;"><h4>+251 92 691 2482</h4></a>
					</div>



				</div>
			</div>



		</div>
	</div>
</div>